# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Imprima a frase **"Eu sou Minerador de Dados!"**

In [0]:
print ("Eu sou Minerador de Dados")

Eu sou Minerador de Dados

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [9]:
soma = (10 + 10)
sub = (50 - 30)
mult = (2 * 6)
divisao = (8 / 2)

In [4]:
soma

20

In [7]:
sub

20

In [8]:
mult

12

In [10]:
divisao

4.0

3) Imprima o tipo de um determinado do valor **10**.

In [11]:
valor = 10

In [12]:
type(valor)

int

4) Converta o valor passado anteriormente para o tipo **float**

In [14]:
float(valor)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo **string**

In [15]:
str(valor)

'10'

6) Utilizando variáveis faça:
- a) Defina uma variável com o **seu nome** e imprima o seu valor.
- b) Imprima o **tipo** dessa variável.
- c) Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, **Felipe Santana**.
- d) Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

a) Defina uma variável com o seu nome e imprima o seu valor.

In [16]:
nome = 'Pedro'

In [17]:
print(nome)

Pedro

b) Imprima o tipo dessa variável.

In [18]:
type(nome)

str

c) Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.

In [21]:
concatenacao = nome + ' Henrique'
print(concatenacao)

Pedro Henrique

7) Utilizando funções de arredonamento faça:
- a) Arredonde o valor 2.898
- b) Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

a) Arredonde o valor 2.898

In [23]:
round(2.898)

3

b) Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [24]:
round(2.4545455,4)

2.4545

9) Sobre os objetos Strings, faça:
- a) Defina uma variavel com a string: "Python é uma maldição!" e imprima
- b) Imprima o primeiro caracter da variavel.
- c) Imprima os valores do primeiro caracter até o 6.
- d) Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- e) Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
    - Obs: Crie uma variável chamada "frase" com a frase acima.
- f) Substitua o primeiro caracter da frase acima para maiúsculo
- g) Quebre as palavras da frase separado por virgula, criando uma lista.

a) Defina uma variavel com a string: "Python é uma maldição!" e imprima

In [25]:
maldicao = 'Python é uma maldição'
print(maldicao)

Python é uma maldição

b) Imprima o primeiro caracter da variavel.

In [26]:
maldicao[0]

'P'

c) Imprima os valores do primeiro caracter até o 6.

In [28]:
maldicao[0:7]

'Python '

d) Faça a contagem de todos os caracteres utilizando uma única linha de comando.

In [46]:
len(maldicao)

21

e) Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
"dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
Obs: Crie uma variável chamada "frase" com a frase acima.

In [35]:
frase = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados..'
frase.count('dados')

2

f) Substitua o primeiro caracter da frase acima para maiúsculo

In [41]:
frase.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

g) Quebre as palavras da frase separado por virgula, criando uma lista.

In [42]:
frase.split()

['dados',
 'é',
 'o',
 'novo',
 'petróleo,',
 'em',
 'Deus',
 'eu',
 'confio,',
 'para',
 'o',
 'resto',
 'me',
 'traga',
 'dados..']