# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

**Em Python é possivel sim ter elementos de tipo diferentes em uma mesma lista
pois nessa linguagem de programação não ha necessidade de "tipar" a lista em que iremos manipular**

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

a) Cria uma lista de valores inteiros com o nome e idades.

In [7]:
pessoas = ['Pedro', 22, 'Luísa', 21, 'José', 32, 'Maria', 15]

b) Imprima apenas segundo elemento da lista.

In [8]:
print(pessoas[1])

22

c) Imprima a quantidade de elementos da lista.

In [9]:
len(pessoas)

8

d) Substitua o valor do segundo elemento da lista e imprima o resultado.

In [11]:
pessoas[1] = 23
print(pessoas[1])

23

e) Imprima apenas os valores do segundo elemento em diante.

In [12]:
pessoas[1:]

[23, 'Luísa', 21, 'José', 32, 'Maria', 15]

f) Remova qualquer elemento da lista e imprima o resultado.

In [14]:
pessoas.remove(15)
print(pessoas)

['Pedro', 23, 'Luísa', 21, 'José', 32, 'Maria']

g) Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.

In [16]:
salarios =[900, 1200, 1500, 800, 12587,10000]

h) Verifique se contém o valor 10000 na lista de salario

In [17]:
10000 in salarios

True

i) Imprima o menor e maior valor da lista.

In [21]:
minimo = min(salarios)
maximo = max(salarios)
print('Minimo: {}\nMaximo {}'.format(minimo,maximo))

Minimo: 800
Maximo 12587

j) Adicione o valor 7000 a lista.

In [27]:
salarios.append(7000)
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 7000]


l) Extenda a lista com dois novos elementos utilizando apenas um método.

In [29]:
salarios.append(1530)
salarios.append(1996)
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 7000, 1530, 1996]

m) Imprima o índice do elemento de valor 800 da lista de salarios.

In [38]:
salarios.index(800)

3

n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente

In [61]:
salarios.sort()
print('Crescente :   {}'.format(salarios))
salarios.sort(reverse=True)
print('Decrescente : {}'.format(salarios))

Crescente :   [800, 900, 1200, 1500, 1530, 1996, 7000, 10000, 12587]
Decrescente : [12587, 10000, 7000, 1996, 1530, 1500, 1200, 900, 800]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo: pessoas = {'Rodrigo':30, 'Fulana':18}

In [9]:
clientes ={ 'Clientes':{'Pessoa01': {'Nome':'Pedro',
                         'Idade':23},
            'Pessoa02':{'Nome':'Ana',
                         'Idade':19},
            'Pessoa03':{'Nome':'Luísa',
                         'Idade':22},
            'Pessoa03':{'Nome':'Lourdes',
                         'Idade':68},
                       }
}
print(clientes)

{'Clientes': {'Pessoa01': {'Nome': 'Pedro', 'Idade': 23}, 'Pessoa02': {'Nome': 'Ana', 'Idade': 19}, 'Pessoa03': {'Nome': 'Lourdes', 'Idade': 68}}}


b) Imprima a idade da pessoa "Fulana"

In [11]:
clientes['Clientes']['Pessoa02']['Idade']

19

c) Imprima as Chaves do dicionario criado anteriormente.

In [12]:
clientes.keys()

dict_keys(['Clientes'])

d) Imprima os valores das chaves do dicionário

In [13]:
clientes.values()

dict_values([{'Pessoa01': {'Nome': 'Pedro', 'Idade': 23}, 'Pessoa02': {'Nome': 'Ana', 'Idade': 19}, 'Pessoa03': {'Nome': 'Lourdes', 'Idade': 68}}])

e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [14]:
clientes.setdefault('Felipe',30)
print(clientes)

{'Clientes': {'Pessoa01': {'Nome': 'Pedro', 'Idade': 23}, 'Pessoa02': {'Nome': 'Ana', 'Idade': 19}, 'Pessoa03': {'Nome': 'Lourdes', 'Idade': 68}}, 'Felipe': 30}

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"

In [18]:
if 5 > 1:
    print('5 é maior que 1!')

5 é maior que 1!

b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"

In [19]:
x1 = 15
y1 = 22
if x1 > y1:
    print('x1 é maior que y1!')
else:
    print('y1 é maior que x1!')

y1 é maior que x1!

c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [44]:
numeros = [2, 3, 4, 5, 6, 7]
for i in numeros:
    print('{} multiplicado por 2 = {}'.format(i, i * 2))

2 multiplicado por 2 = 4
3 multiplicado por 2 = 6
4 multiplicado por 2 = 8
5 multiplicado por 2 = 10
6 multiplicado por 2 = 12
7 multiplicado por 2 = 14